In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

sb.set()

In [2]:
df = pd.read_csv('Dataset.csv', index_col=0)
df.head()

,ADI,Age,person_id,Gender,Subgroup,absence_indicator,analytic_period_id,tenure,overtime,salary,...,extreme_heat_ssp585_2045,wildfire_potential_2018,wildfire_potential_2019,wildfire_potential_2019.1,wildfire_potential_ssp245_2025,wildfire_potential_ssp245_2035,wildfire_potential_ssp245_2045,wildfire_potential_ssp585_2025,wildfire_potential_ssp585_2035,wildfire_potential_ssp585_2045
0,28,37,3030515063,Male,Subgroup P,0,1,18.25,1,115700.0,...,13.380953,10.975000,11.460870,12.070652,6.033403,6.347014,6.512159,6.093082,6.504460,6.743331
1,18,34,9786383567,Male,Subgroup P,0,1,3.99,7,81435.0,...,13.380953,11.141304,11.520652,11.871739,6.033403,6.347014,6.512159,6.093082,6.504460,6.743331
2,15,36,5602306401,Male,Subgroup P,0,1,3.05,1,86400.0,...,15.597403,10.393478,10.777174,11.659783,6.064177,6.380910,6.548825,6.117186,6.522880,6.771772
3,36,41,8107765424,Male,Subgroup P,0,1,20.29,1,79176.0,...,12.290043,11.039130,11.023913,11.963043,6.069724,6.365864,6.512409,6.091926,6.469195,6.700504
4,49,51,7879842771,Male,Subgroup P,0,1,13.66,7,94511.0,...,12.290043,10.760870,11.308696,12.006522,6.069724,6.365864,6.512409,6.091926,6.469195,6.700504

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43184 entries, 0 to 43183
Data columns (total 74 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   ADI                                 43184 non-null  int64
 1   Age                                 43184 non-null  int64
 2   person_id                           43184 non-null  int64
 3   Gender                              43184 non-null  object
 4   Subgroup                            43184 non-null  object
 5   absence_indicator                   43184 non-null  int64
 6   analytic_period_id                  43184 non-null  int64
 7   tenure                              43184 non-null  float64
 8   overtime                            43184 non-null  int64
 9   salary                              43184 non-null  float64
 10  performance_rating                  43184 non-null  int64
 11  BiometricScreeningParticipants      43184 non-null  int64
 12  HRQParticipants                     43184 non-null  int64
 13  lsbio_cholesterol                   43184 non-null  int64
 14  lsbio_glucose                       43184 non-null  int64
 15  lsbio_bp                            43184 non-null  int64
 16  lsbio_weight                        43184 non-null  int64
 17  lsbio_trig                          43184 non-null  int64
 18  lshrq_physact                       43184 non-null  int64
 19  lshrq_tobacco                       43184 non-null  int64
 20  lshrq_nutrition                     43184 non-null  int64
 21  lshrq_stress                        43184 non-null  int64
 22  lshrq_genHealth                     43184 non-null  int64
 23  lshrq_wellbeing                     43184 non-null  int64
 24  lshrq_alcohol                       43184 non-null  int64
 25  lshrq_sleeping                      43184 non-null  int64
 26  cc_RespiratorySinusAllergy_chronic  43184 non-null  int64
 27  cc_diabetes                         43184 non-null  int64
 28  cc_cancer                           43184 non-null  int64
 29  cc_mskChronic                       43184 non-null  int64
 30  cc_cholesterol                      43184 non-null  int64
 31  cc_cardiac                          43184 non-null  int64
 32  cc_depression                       43184 non-null  int64
 33  cc_obesity                          43184 non-null  int64
 34  cc_mskAllOther                      43184 non-null  int64
 35  cc_behavioralAllOther               43184 non-null  int64
 36  cc_ckd                              43184 non-null  int64
 37  concurrent_risk                     43184 non-null  float64
 38  rx_nonClaimant                      43184 non-null  int64
 39  rx_nonCompliant                     43184 non-null  int64
 40  prog_1                              43184 non-null  int64
 41  prog_2                              43184 non-null  int64
 42  prog_3                              43184 non-null  int64
 43  prog_4                              43184 non-null  int64
 44  prog_5                              43184 non-null  int64
 45  prog_6                              43184 non-null  int64
 46  prog_7                              43184 non-null  int64
 47  prog_8                              43184 non-null  int64
 48  prog_9                              43184 non-null  int64
 49  prog_10                             43184 non-null  int64
 50  prog_11                             43184 non-null  int64
 51  prog_12                             43184 non-null  int64
 52  prog_13                             43184 non-null  int64
 53  prog_14                             43184 non-null  int64
 54  prog_15                             43184 non-null  int64
 55  prog_16                             43184 non-null  int64
 56  extreme_heat_2018                   43184 non-null  int64
 57  extreme_heat_2019                   43184 non-null  int64
 58  extreme_heat_2020                   43184 non-null  int64
 59  extreme_heat_ssp245_2025            43184 non-null  float64
 60  extreme_heat_ssp245_2035            43184 non-null  float64
 61  extreme_heat_ssp245_2045            43184 non-null  float64
 62  extreme_heat_ssp585_2025            43184 non-null  float64
 63  extreme_heat_ssp585_2035            43184 non-null  float64
 64  extreme_heat_ssp585_2045            43184 non-null  float64
 65  wildfire_potential_2018             43184 non-null  float64
 66  wildfire_potential_2019             43184 non-null  float64
 67  wildfire_potential_2019.1           43184 non-null  float64
 68  wildfire_potential_ssp245_2025      43184 non-null  float64
 69  wildfire_potential_ssp245_2035      43184 non-null  float64
 70  wildfire_potential_ssp245_2045      43184 non-null  float64
 71  wildfire_potential_ssp585_2025      43184 non-null  float64
 72  wildfire_potential_ssp585_2035      43184 non-null  float64
 73  wildfire_potential_ssp585_2045      43184 non-null  float64
dtypes: float64(18), int64(54), object(2)
memory usage: 24.7+ MB

In [4]:
# set gender to 1 and 0

df['Gender'] = np.where(df['Gender'] == 'Male', 1, 0)
df.head()

,ADI,Age,person_id,Gender,Subgroup,absence_indicator,analytic_period_id,tenure,overtime,salary,...,extreme_heat_ssp585_2045,wildfire_potential_2018,wildfire_potential_2019,wildfire_potential_2019.1,wildfire_potential_ssp245_2025,wildfire_potential_ssp245_2035,wildfire_potential_ssp245_2045,wildfire_potential_ssp585_2025,wildfire_potential_ssp585_2035,wildfire_potential_ssp585_2045
0,28,37,3030515063,1,Subgroup P,0,1,18.25,1,115700.0,...,13.380953,10.975000,11.460870,12.070652,6.033403,6.347014,6.512159,6.093082,6.504460,6.743331
1,18,34,9786383567,1,Subgroup P,0,1,3.99,7,81435.0,...,13.380953,11.141304,11.520652,11.871739,6.033403,6.347014,6.512159,6.093082,6.504460,6.743331
2,15,36,5602306401,1,Subgroup P,0,1,3.05,1,86400.0,...,15.597403,10.393478,10.777174,11.659783,6.064177,6.380910,6.548825,6.117186,6.522880,6.771772
3,36,41,8107765424,1,Subgroup P,0,1,20.29,1,79176.0,...,12.290043,11.039130,11.023913,11.963043,6.069724,6.365864,6.512409,6.091926,6.469195,6.700504
4,49,51,7879842771,1,Subgroup P,0,1,13.66,7,94511.0,...,12.290043,10.760870,11.308696,12.006522,6.069724,6.365864,6.512409,6.091926,6.469195,6.700504

In [5]:
df_P = df.loc[df['Subgroup'] == 'Subgroup P']

In [6]:
health_factors = ['ADI', 'Age', 'Gender', 'lsbio_cholesterol', 'lsbio_glucose', 'lsbio_bp', 'lsbio_weight', 
                  'lsbio_trig', 'lshrq_physact', 'lshrq_tobacco', 'lshrq_nutrition', 'lshrq_stress', 
                  'lshrq_genHealth', 'lshrq_wellbeing', 'lshrq_alcohol', 'lshrq_sleeping', 
                  'cc_RespiratorySinusAllergy_chronic', 'cc_diabetes', 'cc_cancer', 'cc_mskChronic', 
                  'cc_cholesterol', 'cc_cardiac', 'cc_depression', 'cc_obesity', 'cc_mskAllOther', 
                  'cc_behavioralAllOther', 'cc_ckd', 'concurrent_risk', 'rx_nonClaimant', 'rx_nonCompliant', 
                  'extreme_heat_ssp245_2025', 'extreme_heat_ssp245_2035', 'extreme_heat_ssp245_2045']

In [7]:
all_factors = ['ADI', 'Age', 'Gender', 'lsbio_cholesterol', 'lsbio_glucose', 'lsbio_bp', 'lsbio_weight', 
              'lsbio_trig', 'lshrq_physact', 'lshrq_tobacco', 'lshrq_nutrition', 'lshrq_stress', 
              'lshrq_genHealth', 'lshrq_wellbeing', 'lshrq_alcohol', 'lshrq_sleeping', 
              'cc_RespiratorySinusAllergy_chronic', 'cc_diabetes', 'cc_cancer', 'cc_mskChronic', 
              'cc_cholesterol', 'cc_cardiac', 'cc_depression', 'cc_obesity', 'cc_mskAllOther', 
              'cc_behavioralAllOther', 'cc_ckd', 'concurrent_risk', 'rx_nonClaimant', 'rx_nonCompliant']

In [8]:
health_variables = ['ADI', 'Age', 'Gender', 'lsbio_bp', 'lshrq_sleeping', 
                         'cc_RespiratorySinusAllergy_chronic', 'cc_mskChronic', 'cc_cholesterol', 
                         'cc_cardiac', 'cc_ckd', 'concurrent_risk', 'rx_nonClaimant', 'rx_nonCompliant', 
                         'extreme_heat']

In [9]:
categorical_variables = ['ADI', 'Age', 'Gender', 'lsbio_bp', 'lshrq_sleeping', 
                         'cc_RespiratorySinusAllergy_chronic', 'cc_mskChronic', 'cc_cholesterol', 
                         'cc_cardiac', 'cc_ckd', 'concurrent_risk', 'rx_nonClaimant', 'rx_nonCompliant']

In [10]:
def last_value(x):
    if x is None:
        print("Error: x is None")
        return None
    elif len(x) == 0:
        print("Error: x is empty")
        return None
    else:
        return x.iloc[-1]

new_df = df_P.groupby('person_id').agg({
    'absence_indicator': 'sum',
    'extreme_heat_2018': 'mean',
    'extreme_heat_2019': 'mean',
    'extreme_heat_2020': 'mean',
    **{health: last_value for health in health_factors}
}).reset_index()

new_df.head()

,person_id,absence_indicator,extreme_heat_2018,extreme_heat_2019,extreme_heat_2020,ADI,Age,Gender,lsbio_cholesterol,lsbio_glucose,...,cc_obesity,cc_mskAllOther,cc_behavioralAllOther,cc_ckd,concurrent_risk,rx_nonClaimant,rx_nonCompliant,extreme_heat_ssp245_2025,extreme_heat_ssp245_2035,extreme_heat_ssp245_2045
0,1001121909,20,0.000000,2.000000,0.000000,57,30,1,0,0,...,0,0,0,0,0.51,1,0,16.212120,20.000000,23.181818
1,1002228813,0,5.000000,3.000000,4.000000,21,40,1,0,0,...,0,0,0,0,0.15,1,0,6.160173,8.441559,10.510822
2,1006210000,0,2.000000,3.000000,0.000000,59,61,1,0,0,...,0,0,0,0,1.14,1,0,12.333333,15.402597,18.134200
3,1006971219,61,5.000000,3.000000,1.000000,28,40,1,1,0,...,0,0,0,0,0.15,1,0,7.549784,10.246754,12.675324
4,1008562408,0,2.666667,2.666667,2.666667,22,35,1,0,0,...,0,0,0,0,0.38,1,0,7.134199,9.770563,12.025974

In [11]:
new_df['extreme_heat'] = round((new_df['extreme_heat_2018']+new_df['extreme_heat_2019']+new_df['extreme_heat_2020'])/3,0)

new_df.head()

,person_id,absence_indicator,extreme_heat_2018,extreme_heat_2019,extreme_heat_2020,ADI,Age,Gender,lsbio_cholesterol,lsbio_glucose,...,cc_mskAllOther,cc_behavioralAllOther,cc_ckd,concurrent_risk,rx_nonClaimant,rx_nonCompliant,extreme_heat_ssp245_2025,extreme_heat_ssp245_2035,extreme_heat_ssp245_2045,extreme_heat
0,1001121909,20,0.000000,2.000000,0.000000,57,30,1,0,0,...,0,0,0,0.51,1,0,16.212120,20.000000,23.181818,1.0
1,1002228813,0,5.000000,3.000000,4.000000,21,40,1,0,0,...,0,0,0,0.15,1,0,6.160173,8.441559,10.510822,4.0
2,1006210000,0,2.000000,3.000000,0.000000,59,61,1,0,0,...,0,0,0,1.14,1,0,12.333333,15.402597,18.134200,2.0
3,1006971219,61,5.000000,3.000000,1.000000,28,40,1,1,0,...,0,0,0,0.15,1,0,7.549784,10.246754,12.675324,3.0
4,1008562408,0,2.666667,2.666667,2.666667,22,35,1,0,0,...,0,0,0,0.38,1,0,7.134199,9.770563,12.025974,3.0

In [12]:
new_df['absence_indicator'].value_counts()

absence_indicator
0      4882
1       381
6       121
11      110
21       73
       ...
212       1
241       1
263       1
243       1
235       1
Name: count, Length: 217, dtype: int64

### absence vs health

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

y = pd.DataFrame(new_df['absence_indicator'])
y.loc[y['absence_indicator'] != 0, 'absence_indicator'] = np.log(y.loc[y['absence_indicator'] != 0, 'absence_indicator'])

x = pd.DataFrame(new_df[all_factors])

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25)

print("Train Set :", y_train.shape, x_train.shape)
print("Test Set  :", y_test.shape, x_test.shape)

Train Set : (5631, 1) (5631, 30)
Test Set  : (1878, 1) (1878, 30)

In [14]:
linreg = LinearRegression()

linreg.fit(x_train, y_train)

print('Intercept of Regression \t: b = ', linreg.intercept_)

y_train_pred = linreg.predict(x_train)
y_test_pred = linreg.predict(x_test)

# Check the Goodness of Fit (on Train Data)
print("Goodness of Fit of Model \tTrain Dataset")
print("Explained Variance (R^2) \t:", linreg.score(x_train, y_train))
print("Mean Squared Error (MSE) \t:", mean_squared_error(y_train, y_train_pred))
print()

# Check the Goodness of Fit (on Test Data)
print("Goodness of Fit of Model \tTest Dataset")
print("Explained Variance (R^2) \t:", linreg.score(x_test, y_test))
print("Mean Squared Error (MSE) \t:", mean_squared_error(y_test, y_test_pred))
print()

Intercept of Regression 	: b =  [1.04138522]
Goodness of Fit of Model 	Train Dataset
Explained Variance (R^2) 	: 0.18642076670209884
Mean Squared Error (MSE) 	: 2.2626479510009587

Goodness of Fit of Model 	Test Dataset
Explained Variance (R^2) 	: 0.1533821434900593
Mean Squared Error (MSE) 	: 2.38198215801066

In [15]:
import statsmodels.api as sm

x_train_with_constant = sm.add_constant(x_train)
model = sm.OLS(y_train, x_train_with_constant)
result = model.fit()

print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      absence_indicator   R-squared:                       0.186
Model:                            OLS   Adj. R-squared:                  0.182
Method:                 Least Squares   F-statistic:                     42.77
Date:                Wed, 03 Apr 2024   Prob (F-statistic):          1.79e-224
Time:                        19:25:15   Log-Likelihood:                -10289.
No. Observations:                5631   AIC:                         2.064e+04
Df Residuals:                    5600   BIC:                         2.085e+04
Df Model:                          30
Covariance Type:            nonrobust
======================================================================================================
                                         coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------------
const                                  1.0414      0.138      7.553      0.000       0.771       1.312
ADI                                    0.0065      0.001      4.528      0.000       0.004       0.009
Age                                   -0.0167      0.002     -8.200      0.000      -0.021      -0.013
Gender                                -0.3367      0.057     -5.865      0.000      -0.449      -0.224
lsbio_cholesterol                     -0.1023      0.074     -1.389      0.165      -0.247       0.042
lsbio_glucose                         -0.1417      0.244     -0.579      0.562      -0.621       0.338
lsbio_bp                               0.0184      0.076      0.243      0.808      -0.130       0.167
lsbio_weight                          -0.0006      0.075     -0.008      0.994      -0.149       0.147
lsbio_trig                            -0.0729      0.087     -0.837      0.403      -0.244       0.098
lshrq_physact                         -0.1003      0.060     -1.667      0.096      -0.218       0.018
lshrq_tobacco                         -0.1098      0.123     -0.894      0.371      -0.351       0.131
lshrq_nutrition                        0.1829      0.060      3.068      0.002       0.066       0.300
lshrq_stress                          -0.0663      0.077     -0.863      0.388      -0.217       0.084
lshrq_genHealth                       -0.3220      0.159     -2.031      0.042      -0.633      -0.011
lshrq_wellbeing                       -0.1388      0.102     -1.362      0.173      -0.339       0.061
lshrq_alcohol                         -0.1055      0.073     -1.454      0.146      -0.248       0.037
lshrq_sleeping                        -0.0719      0.098     -0.735      0.462      -0.263       0.120
cc_RespiratorySinusAllergy_chronic     0.1762      0.077      2.282      0.023       0.025       0.328
cc_diabetes                            0.1361      0.093      1.456      0.146      -0.047       0.319
cc_cancer                              0.1904      0.107      1.774      0.076      -0.020       0.401
cc_mskChronic                          0.6857      0.050     13.760      0.000       0.588       0.783
cc_cholesterol                        -0.0377      0.069     -0.544      0.586      -0.173       0.098
cc_cardiac                             0.1928      0.068      2.845      0.004       0.060       0.326
cc_depression                          0.8297      0.078     10.628      0.000       0.677       0.983
cc_obesity                             0.1877      0.048      3.908      0.000       0.094       0.282
cc_mskAllOther                         0.3397      0.064      5.270      0.000       0.213       0.466
cc_behavioralAllOther                  0.3478      0.060      5.793      0.000       0.230       0.466
cc_ckd                                -0.1154      0.241     -0.480      0.631      -0.587       0.356
concurrent_risk                        0.2495      0.015     16.780      0.000       0.220       0.279
rx_nonClaimant                         0.1989      0.069      2.874      0.004       0.063       0.335
rx_nonCompliant                        0.2133      0.083      2.555      0.011       0.050       0.377
==============================================================================
Omnibus:                      684.151   Durbin-Watson:                   2.017
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              960.122
Skew:                           1.004   Prob(JB):                    3.25e-209
Kurtosis:                       3.249   Cond. No.                         699.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

#### Random Forest Regression

In [16]:
from sklearn.ensemble import RandomForestRegressor

randomforest = RandomForestRegressor(n_estimators=100, max_depth=5, random_state=42)
randomforest.fit(x_train, y_train)

y_train_pred = randomforest.predict(x_train)
train_mse = mean_squared_error(y_train_pred, y_train)
y_test_pred = randomforest.predict(x_test)
test_mse = mean_squared_error(y_test_pred, y_test)

print("Mean Squared Error (Train Dataset):", train_mse)
print("Mean Squared Error (Test Dataset):", test_mse)

/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Mean Squared Error (Train Dataset): 2.1606424554601174
Mean Squared Error (Test Dataset): 2.392024062376484

In [17]:
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint

param_dist = {
    'n_estimators': randint(50, 200),
    'max_depth': [None] + list(range(5, 20)),
    'min_samples_split': randint(2, 20)
}

randomized_search = RandomizedSearchCV(estimator=RandomForestRegressor(), param_distributions=param_dist, n_iter=5, cv=5, scoring='neg_mean_squared_error', random_state=42)

randomized_search.fit(x_train, y_train)

best_params = randomized_search.best_params_
print(best_params)

/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

{'max_depth': 6, 'min_samples_split': 12, 'n_estimators': 137}

In [18]:
randomforest = RandomForestRegressor(n_estimators=best_params['n_estimators'], max_depth=best_params['max_depth'], min_samples_split=best_params['min_samples_split'], random_state=42)
randomforest.fit(x_train, y_train)

y_train_pred = randomforest.predict(x_train)
train_mse = mean_squared_error(y_train_pred, y_train)
y_test_pred = randomforest.predict(x_test)
test_mse = mean_squared_error(y_test_pred, y_test)

print("Mean Squared Error (Train Dataset):", train_mse)
print("Mean Squared Error (Test Dataset):", test_mse)

/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Mean Squared Error (Train Dataset): 2.057462932979486
Mean Squared Error (Test Dataset): 2.3761146344693596

In [19]:
significant_variable_rf = {}
significant_variable_rf['significant_variable'] = []

feature_importances = randomforest.feature_importances_
feature_importance_dict = dict(zip(x_train.columns, feature_importances))
sorted_features = sorted(feature_importance_dict.items(), key=lambda x: x[1], reverse=True)

for feature, importance in sorted_features:
    if importance > 0.0035:
        significant_variable_rf['significant_variable'].append(feature)

significant_variable_rf

{'significant_variable': ['concurrent_risk',
  'Age',
  'cc_mskChronic',
  'ADI',
  'cc_depression',
  'Gender',
  'cc_behavioralAllOther',
  'cc_obesity',
  'lshrq_physact',
  'cc_mskAllOther',
  'cc_RespiratorySinusAllergy_chronic',
  'cc_cardiac',
  'rx_nonCompliant',
  'rx_nonClaimant',
  'cc_diabetes',
  'lshrq_nutrition',
  'cc_ckd',
  'cc_cholesterol',
  'cc_cancer',
  'lshrq_alcohol']}

## 2025

### cc_mskChronic

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error

y = pd.DataFrame(new_df['cc_mskChronic'])
y['cc_mskChronic'] = y['cc_mskChronic'].astype('category')
x = pd.DataFrame(new_df[['Age', 'Gender', 'cc_behavioralAllOther', 'cc_ckd', 'concurrent_risk', 
                        'rx_nonClaimant', 'extreme_heat']])

categorical_factors = ['Gender', 'cc_behavioralAllOther', 'cc_ckd', 'concurrent_risk', 
                        'rx_nonClaimant']

x[categorical_factors] = x[categorical_factors].astype('category')

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25)

print("Train Set :", y_train.shape, x_train.shape)
print("Test Set  :", y_test.shape, x_test.shape)

mskChronic_logreg = LogisticRegression()

mskChronic_logreg.fit(x_train, y_train)

print('Intercept of Regression \t: b = ', mskChronic_logreg.intercept_)

y_train_pred = mskChronic_logreg.predict(x_train)
y_test_pred = mskChronic_logreg.predict(x_test)

# Check the Goodness of Fit (on Train Data)
print("Goodness of Fit of Model \tTrain Dataset")
print("Explained Variance (R^2) \t:", mskChronic_logreg.score(x_train, y_train))
print("Mean Squared Error (MSE) \t:", mean_squared_error(y_train, y_train_pred))
print()

# Check the Goodness of Fit (on Test Data)
print("Goodness of Fit of Model \tTest Dataset")
print("Explained Variance (R^2) \t:", mskChronic_logreg.score(x_test, y_test))
print("Mean Squared Error (MSE) \t:", mean_squared_error(y_test, y_test_pred))
print()

Train Set : (5631, 1) (5631, 7)
Test Set  : (1878, 1) (1878, 7)
Intercept of Regression 	: b =  [-1.22916024]
Goodness of Fit of Model 	Train Dataset
Explained Variance (R^2) 	: 0.7428520689042799
Mean Squared Error (MSE) 	: 0.2571479310957201

Goodness of Fit of Model 	Test Dataset
Explained Variance (R^2) 	: 0.7342917997870074
Mean Squared Error (MSE) 	: 0.2657082002129925

/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [21]:
x_with_constant = sm.add_constant(x_train)
model = sm.Logit(y_train, x_with_constant)
result = model.fit()

print(result.summary())

Optimization terminated successfully.
         Current function value: 0.537137
         Iterations 5
                           Logit Regression Results
==============================================================================
Dep. Variable:          cc_mskChronic   No. Observations:                 5631
Model:                          Logit   Df Residuals:                     5623
Method:                           MLE   Df Model:                            7
Date:                Wed, 03 Apr 2024   Pseudo R-squ.:                 0.06478
Time:                        19:25:53   Log-Likelihood:                -3024.6
converged:                       True   LL-Null:                       -3234.1
Covariance Type:            nonrobust   LLR p-value:                 1.999e-86
=========================================================================================
                            coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------
const                    -1.2208      0.194     -6.302      0.000      -1.600      -0.841
Age                       0.0085      0.003      2.735      0.006       0.002       0.015
Gender                   -0.1784      0.085     -2.094      0.036      -0.345      -0.011
cc_behavioralAllOther     0.3714      0.085      4.363      0.000       0.205       0.538
cc_ckd                   -0.5690      0.382     -1.490      0.136      -1.317       0.180
concurrent_risk           0.2258      0.020     11.142      0.000       0.186       0.266
rx_nonClaimant           -0.6492      0.070     -9.249      0.000      -0.787      -0.512
extreme_heat              0.0165      0.024      0.677      0.499      -0.031       0.064
=========================================================================================

In [22]:
new_df_0 = new_df.loc[new_df['cc_mskChronic'] == 0]
new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2025']
x = pd.DataFrame(new_df_0[['Age', 'Gender', 'cc_behavioralAllOther', 'cc_ckd', 'concurrent_risk', 
                        'rx_nonClaimant', 'extreme_heat']])

x

/var/folders/xn/gnfdk6ks6733jfbyy3y35xyc0000gn/T/ipykernel_5425/3669588825.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2025']

,Age,Gender,cc_behavioralAllOther,cc_ckd,concurrent_risk,rx_nonClaimant,extreme_heat
0,30,1,0,0,0.51,1,16.212120
1,40,1,0,0,0.15,1,6.160173
2,61,1,0,0,1.14,1,12.333333
3,40,1,0,0,0.15,1,7.549784
4,35,1,0,0,0.38,1,7.134199
...,...,...,...,...,...,...,...
7504,39,1,0,0,0.15,1,2.623377
7505,58,1,0,0,0.33,0,6.393940
7506,51,1,0,0,0.35,1,7.424243
7507,40,1,0,0,0.46,1,6.160173
7508,32,1,0,0,0.10,1,10.415585

In [23]:
y_pred = mskChronic_logreg.predict(x)
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [24]:
y_pred = pd.DataFrame(y_pred, columns = ["PredTotal"], index = new_df_0.index)
new_df_0 = pd.concat([new_df_0, y_pred], axis = 1)

new_df_0['PredTotal'].value_counts()

PredTotal
0    5279
1     239
Name: count, dtype: int64

In [25]:
new_df_0 = new_df_0[['person_id', 'PredTotal']]

new_df_0

       person_id  PredTotal
0     1001121909          0
1     1002228813          0
2     1006210000          0
3     1006971219          0
4     1008562408          0
...          ...        ...
7504  9995667595          0
7505  9998210676          0
7506  9998342544          0
7507  9998937334          0
7508  9999617900          0

[5518 rows x 2 columns]

In [26]:
new_df = new_df.merge(new_df_0, left_index=True, right_index=True,
                 how='outer', suffixes=('', '_y'))

new_df.drop(new_df.filter(regex='_y$').columns, axis=1, inplace=True)

print(new_df['cc_mskChronic'].value_counts())

new_df['cc_mskChronic'] = np.where(new_df['cc_mskChronic']==0, new_df['PredTotal'], 1)
new_df.drop(columns=['PredTotal'], axis=1, inplace=True)

print(new_df['cc_mskChronic'].value_counts())

cc_mskChronic
0    5518
1    1991
Name: count, dtype: int64
cc_mskChronic
0.0    5279
1.0    2230
Name: count, dtype: int64

In [27]:
new_df

,person_id,absence_indicator,extreme_heat_2018,extreme_heat_2019,extreme_heat_2020,ADI,Age,Gender,lsbio_cholesterol,lsbio_glucose,...,cc_mskAllOther,cc_behavioralAllOther,cc_ckd,concurrent_risk,rx_nonClaimant,rx_nonCompliant,extreme_heat_ssp245_2025,extreme_heat_ssp245_2035,extreme_heat_ssp245_2045,extreme_heat
0,1001121909,20,0.000000,2.000000,0.000000,57,30,1,0,0,...,0,0,0,0.51,1,0,16.212120,20.000000,23.181818,1.0
1,1002228813,0,5.000000,3.000000,4.000000,21,40,1,0,0,...,0,0,0,0.15,1,0,6.160173,8.441559,10.510822,4.0
2,1006210000,0,2.000000,3.000000,0.000000,59,61,1,0,0,...,0,0,0,1.14,1,0,12.333333,15.402597,18.134200,2.0
3,1006971219,61,5.000000,3.000000,1.000000,28,40,1,1,0,...,0,0,0,0.15,1,0,7.549784,10.246754,12.675324,3.0
4,1008562408,0,2.666667,2.666667,2.666667,22,35,1,0,0,...,0,0,0,0.38,1,0,7.134199,9.770563,12.025974,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7504,9995667595,0,0.000000,1.000000,0.000000,18,39,1,1,0,...,0,0,0,0.15,1,0,2.623377,4.121212,5.774892,0.0
7505,9998210676,131,2.000000,2.000000,0.000000,34,58,1,0,0,...,1,0,0,0.33,0,0,6.393940,8.874459,11.077922,1.0
7506,9998342544,0,0.000000,0.000000,0.000000,14,51,1,0,0,...,0,0,0,0.35,1,0,7.424243,10.112555,12.354979,0.0
7507,9998937334,0,4.000000,3.000000,1.000000,10,40,1,1,0,...,0,0,0,0.46,1,0,6.160173,8.441559,10.510822,3.0
7508,9999617900,37,5.000000,4.000000,2.000000,39,32,1,0,0,...,0,0,0,0.10,1,0,10.415585,13.307360,15.878788,4.0

### cc_cardiac

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error

y = pd.DataFrame(new_df['cc_cardiac'])
y['cc_cardiac'] = y['cc_cardiac'].astype('category')
x = pd.DataFrame(new_df[['ADI', 'Age', 'Gender', 'lsbio_cholesterol', 'lsbio_bp', 'lsbio_weight', 
                         'cc_cancer', 'cc_cholesterol', 'cc_obesity', 'cc_mskAllOther', 'cc_behavioralAllOther', 
                         'cc_ckd', 'concurrent_risk', 'rx_nonClaimant', 'extreme_heat']])

categorical_factors = ['Gender', 'lsbio_cholesterol', 'lsbio_bp', 'lsbio_weight', 'cc_cancer', 
                       'cc_cholesterol', 'cc_obesity', 'cc_mskAllOther', 'cc_behavioralAllOther', 'cc_ckd', 
                       'concurrent_risk', 'rx_nonClaimant']

x[categorical_factors] = x[categorical_factors].astype('category')

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25)

print("Train Set :", y_train.shape, x_train.shape)
print("Test Set  :", y_test.shape, x_test.shape)

cardiac_logreg = LogisticRegression()

cardiac_logreg.fit(x_train, y_train)

print('Intercept of Regression \t: b = ', cardiac_logreg.intercept_)

y_train_pred = cardiac_logreg.predict(x_train)
y_test_pred = cardiac_logreg.predict(x_test)

# Check the Goodness of Fit (on Train Data)
print("Goodness of Fit of Model \tTrain Dataset")
print("Explained Variance (R^2) \t:", cardiac_logreg.score(x_train, y_train))
print("Mean Squared Error (MSE) \t:", mean_squared_error(y_train, y_train_pred))
print()

# Check the Goodness of Fit (on Test Data)
print("Goodness of Fit of Model \tTest Dataset")
print("Explained Variance (R^2) \t:", cardiac_logreg.score(x_test, y_test))
print("Mean Squared Error (MSE) \t:", mean_squared_error(y_test, y_test_pred))
print()

Train Set : (5631, 1) (5631, 15)
Test Set  : (1878, 1) (1878, 15)
Intercept of Regression 	: b =  [-3.63602786]
Goodness of Fit of Model 	Train Dataset
Explained Variance (R^2) 	: 0.8865210442194992
Mean Squared Error (MSE) 	: 0.1134789557805008

Goodness of Fit of Model 	Test Dataset
Explained Variance (R^2) 	: 0.8849840255591054
Mean Squared Error (MSE) 	: 0.11501597444089456

/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [29]:
x_with_constant = sm.add_constant(x_train)
model = sm.Logit(y_train, x_with_constant)
result = model.fit()

print(result.summary())

Optimization terminated successfully.
         Current function value: 0.288152
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:             cc_cardiac   No. Observations:                 5631
Model:                          Logit   Df Residuals:                     5615
Method:                           MLE   Df Model:                           15
Date:                Wed, 03 Apr 2024   Pseudo R-squ.:                  0.4337
Time:                        19:25:53   Log-Likelihood:                -1622.6
converged:                       True   LL-Null:                       -2865.3
Covariance Type:            nonrobust   LLR p-value:                     0.000
=========================================================================================
                            coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------
const                    -4.2477      0.321    -13.215      0.000      -4.878      -3.618
ADI                       0.0056      0.003      1.728      0.084      -0.001       0.012
Age                       0.0637      0.005     12.566      0.000       0.054       0.074
Gender                    0.2771      0.131      2.108      0.035       0.019       0.535
lsbio_cholesterol        -0.3513      0.160     -2.190      0.029      -0.666      -0.037
lsbio_bp                  0.4326      0.181      2.386      0.017       0.077       0.788
lsbio_weight             -0.4818      0.183     -2.625      0.009      -0.841      -0.122
cc_cancer                -0.4885      0.201     -2.433      0.015      -0.882      -0.095
cc_cholesterol            0.5119      0.109      4.678      0.000       0.297       0.726
cc_obesity                0.7017      0.099      7.082      0.000       0.508       0.896
cc_mskAllOther           -0.1051      0.129     -0.818      0.414      -0.357       0.147
cc_behavioralAllOther     0.5398      0.121      4.445      0.000       0.302       0.778
cc_ckd                    1.2082      0.519      2.327      0.020       0.191       2.226
concurrent_risk           0.1842      0.026      7.068      0.000       0.133       0.235
rx_nonClaimant           -2.8965      0.104    -27.863      0.000      -3.100      -2.693
extreme_heat              0.0847      0.035      2.399      0.016       0.016       0.154
=========================================================================================

In [30]:
new_df_0 = new_df.loc[new_df['cc_cardiac'] == 0]
new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2025']
x = pd.DataFrame(new_df_0[['ADI', 'Age', 'Gender', 'lsbio_cholesterol', 'lsbio_bp', 'lsbio_weight', 
                         'cc_cancer', 'cc_cholesterol', 'cc_obesity', 'cc_mskAllOther', 'cc_behavioralAllOther', 
                         'cc_ckd', 'concurrent_risk', 'rx_nonClaimant', 'extreme_heat']])

x

/var/folders/xn/gnfdk6ks6733jfbyy3y35xyc0000gn/T/ipykernel_5425/3048584345.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2025']

,ADI,Age,Gender,lsbio_cholesterol,lsbio_bp,lsbio_weight,cc_cancer,cc_cholesterol,cc_obesity,cc_mskAllOther,cc_behavioralAllOther,cc_ckd,concurrent_risk,rx_nonClaimant,extreme_heat
0,57,30,1,0,0,0,0,0,0,0,0,0,0.51,1,16.212120
1,21,40,1,0,0,0,0,0,0,0,0,0,0.15,1,6.160173
2,59,61,1,0,0,0,0,1,0,0,0,0,1.14,1,12.333333
3,28,40,1,1,1,1,0,0,0,0,0,0,0.15,1,7.549784
4,22,35,1,0,1,0,0,0,0,0,0,0,0.38,1,7.134199
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7503,39,44,1,0,1,1,0,0,0,1,0,0,0.15,1,8.034632
7504,18,39,1,1,1,1,0,0,1,0,0,0,0.15,1,2.623377
7506,14,51,1,0,0,0,0,0,0,0,0,0,0.35,1,7.424243
7507,10,40,1,1,1,0,0,0,0,0,0,0,0.46,1,6.160173
7508,39,32,1,0,1,1,0,0,0,0,0,0,0.10,1,10.415585

In [31]:
y_pred = cardiac_logreg.predict(x)
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [32]:
y_pred = pd.DataFrame(y_pred, columns = ["PredTotal"], index = new_df_0.index)
new_df_0 = pd.concat([new_df_0, y_pred], axis = 1)

new_df_0['PredTotal'].value_counts()

PredTotal
0    5401
1     564
Name: count, dtype: int64

In [33]:
new_df_0 = new_df_0[['person_id', 'PredTotal']]

new_df_0

       person_id  PredTotal
0     1001121909          0
1     1002228813          0
2     1006210000          0
3     1006971219          0
4     1008562408          0
...          ...        ...
7503  9995527821          0
7504  9995667595          0
7506  9998342544          0
7507  9998937334          0
7508  9999617900          0

[5965 rows x 2 columns]

In [34]:
new_df = new_df.merge(new_df_0, left_index=True, right_index=True,
                 how='outer', suffixes=('', '_y'))

new_df.drop(new_df.filter(regex='_y$').columns, axis=1, inplace=True)

print(new_df['cc_cardiac'].value_counts())

new_df['cc_cardiac'] = np.where(new_df['cc_cardiac']==0, new_df['PredTotal'], 1)
new_df.drop(columns=['PredTotal'], axis=1, inplace=True)

print(new_df['cc_cardiac'].value_counts())

cc_cardiac
0    5965
1    1544
Name: count, dtype: int64
cc_cardiac
0.0    5401
1.0    2108
Name: count, dtype: int64

### cc_diabetes

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error

y = pd.DataFrame(new_df['cc_diabetes'])
y['cc_diabetes'] = y['cc_diabetes'].astype('category')
x = pd.DataFrame(new_df[['ADI', 'Age', 'lsbio_glucose', 'lsbio_trig', 'lshrq_genHealth', 'cc_cholesterol', 
                         'cc_obesity', 'cc_mskAllOther', 'concurrent_risk', 'rx_nonClaimant', 'rx_nonCompliant', 
                         'extreme_heat']])

categorical_factors = ['lsbio_glucose', 'lsbio_trig', 'lshrq_genHealth', 'cc_cholesterol', 
                       'cc_obesity', 'cc_mskAllOther', 'concurrent_risk', 'rx_nonClaimant', 'rx_nonCompliant']

x[categorical_factors] = x[categorical_factors].astype('category')

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25)

print("Train Set :", y_train.shape, x_train.shape)
print("Test Set  :", y_test.shape, x_test.shape)

diabetes_logreg = LogisticRegression()

diabetes_logreg.fit(x_train, y_train)

print('Intercept of Regression \t: b = ', diabetes_logreg.intercept_)

y_train_pred = diabetes_logreg.predict(x_train)
y_test_pred = diabetes_logreg.predict(x_test)

# Check the Goodness of Fit (on Train Data)
print("Goodness of Fit of Model \tTrain Dataset")
print("Explained Variance (R^2) \t:", diabetes_logreg.score(x_train, y_train))
print("Mean Squared Error (MSE) \t:", mean_squared_error(y_train, y_train_pred))
print()

# Check the Goodness of Fit (on Test Data)
print("Goodness of Fit of Model \tTest Dataset")
print("Explained Variance (R^2) \t:", diabetes_logreg.score(x_test, y_test))
print("Mean Squared Error (MSE) \t:", mean_squared_error(y_test, y_test_pred))
print()

Train Set : (5631, 1) (5631, 12)
Test Set  : (1878, 1) (1878, 12)
Intercept of Regression 	: b =  [-5.26477131]
Goodness of Fit of Model 	Train Dataset
Explained Variance (R^2) 	: 0.9367785473272954
Mean Squared Error (MSE) 	: 0.06322145267270467

Goodness of Fit of Model 	Test Dataset
Explained Variance (R^2) 	: 0.93024494142705
Mean Squared Error (MSE) 	: 0.06975505857294995

/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/willisthebeast/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [36]:
x_with_constant = sm.add_constant(x_train)
model = sm.Logit(y_train, x_with_constant)
result = model.fit()

print(result.summary())

Optimization terminated successfully.
         Current function value: 0.148622
         Iterations 9
                           Logit Regression Results
==============================================================================
Dep. Variable:            cc_diabetes   No. Observations:                 5631
Model:                          Logit   Df Residuals:                     5618
Method:                           MLE   Df Model:                           12
Date:                Wed, 03 Apr 2024   Pseudo R-squ.:                  0.3880
Time:                        19:25:53   Log-Likelihood:                -836.89
converged:                       True   LL-Null:                       -1367.6
Covariance Type:            nonrobust   LLR p-value:                1.207e-219
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
const              -5.3074      0.487    -10.896      0.000      -6.262      -4.353
ADI                 0.0068      0.004      1.504      0.133      -0.002       0.016
Age                 0.0475      0.008      5.967      0.000       0.032       0.063
lsbio_glucose       2.9539      0.497      5.939      0.000       1.979       3.929
lsbio_trig          0.2027      0.217      0.932      0.351      -0.224       0.629
lshrq_genHealth    -0.3626      0.382     -0.950      0.342      -1.111       0.386
cc_cholesterol      0.4853      0.132      3.676      0.000       0.227       0.744
cc_obesity          0.2536      0.130      1.944      0.052      -0.002       0.509
cc_mskAllOther     -0.3745      0.189     -1.983      0.047      -0.745      -0.004
concurrent_risk     0.1074      0.028      3.856      0.000       0.053       0.162
rx_nonClaimant     -3.0782      0.262    -11.767      0.000      -3.591      -2.566
rx_nonCompliant     1.2410      0.134      9.268      0.000       0.979       1.503
extreme_heat        0.1093      0.049      2.221      0.026       0.013       0.206
===================================================================================

In [37]:
new_df_0 = new_df.loc[new_df['cc_diabetes'] == 0]
new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2025']
x = pd.DataFrame(new_df_0[['ADI', 'Age', 'lsbio_glucose', 'lsbio_trig', 'lshrq_genHealth', 'cc_cholesterol', 
                         'cc_obesity', 'cc_mskAllOther', 'concurrent_risk', 'rx_nonClaimant', 'rx_nonCompliant', 
                         'extreme_heat']])

x

/var/folders/xn/gnfdk6ks6733jfbyy3y35xyc0000gn/T/ipykernel_5425/3888071529.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2025']

,ADI,Age,lsbio_glucose,lsbio_trig,lshrq_genHealth,cc_cholesterol,cc_obesity,cc_mskAllOther,concurrent_risk,rx_nonClaimant,rx_nonCompliant,extreme_heat
0,57,30,0,0,0,0,0,0,0.51,1,0,16.212120
1,21,40,0,0,0,0,0,0,0.15,1,0,6.160173
2,59,61,0,0,0,1,0,0,1.14,1,0,12.333333
3,28,40,0,1,0,0,0,0,0.15,1,0,7.549784
4,22,35,0,0,0,0,0,0,0.38,1,0,7.134199
...,...,...,...,...,...,...,...,...,...,...,...,...
7504,18,39,0,1,0,0,1,0,0.15,1,0,2.623377
7505,34,58,0,0,0,0,1,1,0.33,0,0,6.393940
7506,14,51,0,0,0,0,0,0,0.35,1,0,7.424243
7507,10,40,0,0,0,0,0,0,0.46,1,0,6.160173
7508,39,32,0,0,0,0,0,0,0.10,1,0,10.415585

In [38]:
y_pred = diabetes_logreg.predict(x)
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [39]:
y_pred = pd.DataFrame(y_pred, columns = ["PredTotal"], index = new_df_0.index)
new_df_0 = pd.concat([new_df_0, y_pred], axis = 1)

new_df_0['PredTotal'].value_counts()

PredTotal
0    6735
1     276
Name: count, dtype: int64

In [40]:
new_df_0 = new_df_0[['person_id', 'PredTotal']]

new_df_0

       person_id  PredTotal
0     1001121909          0
1     1002228813          0
2     1006210000          0
3     1006971219          0
4     1008562408          0
...          ...        ...
7504  9995667595          0
7505  9998210676          0
7506  9998342544          0
7507  9998937334          0
7508  9999617900          0

[7011 rows x 2 columns]

In [41]:
new_df = new_df.merge(new_df_0, left_index=True, right_index=True,
                 how='outer', suffixes=('', '_y'))

new_df.drop(new_df.filter(regex='_y$').columns, axis=1, inplace=True)

print(new_df['cc_diabetes'].value_counts())

new_df['cc_diabetes'] = np.where(new_df['cc_diabetes']==0, new_df['PredTotal'], 1)
new_df.drop(columns=['PredTotal'], axis=1, inplace=True)

print(new_df['cc_diabetes'].value_counts())

cc_diabetes
0    7011
1     498
Name: count, dtype: int64
cc_diabetes
0.0    6735
1.0     774
Name: count, dtype: int64

### absence_indicator prediction 2025

In [42]:
new_df_2 = new_df[all_factors]

new_df_2

,ADI,Age,Gender,lsbio_cholesterol,lsbio_glucose,lsbio_bp,lsbio_weight,lsbio_trig,lshrq_physact,lshrq_tobacco,...,cc_cholesterol,cc_cardiac,cc_depression,cc_obesity,cc_mskAllOther,cc_behavioralAllOther,cc_ckd,concurrent_risk,rx_nonClaimant,rx_nonCompliant
0,57,30,1,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0.51,1,0
1,21,40,1,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0.15,1,0
2,59,61,1,0,0,0,0,0,0,0,...,1,0.0,0,0,0,0,0,1.14,1,0
3,28,40,1,1,0,1,1,1,0,0,...,0,0.0,0,0,0,0,0,0.15,1,0
4,22,35,1,0,0,1,0,0,1,0,...,0,0.0,0,0,0,0,0,0.38,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7504,18,39,1,1,0,1,1,1,0,0,...,0,0.0,0,1,0,0,0,0.15,1,0
7505,34,58,1,0,0,0,0,0,0,0,...,0,1.0,0,1,1,0,0,0.33,0,0
7506,14,51,1,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0.35,1,0
7507,10,40,1,1,0,1,0,0,1,0,...,0,0.0,0,0,0,0,0,0.46,1,0
7508,39,32,1,0,0,1,1,0,1,0,...,0,0.0,0,0,0,0,0,0.10,1,0

In [43]:
absence_pred = linreg.predict(new_df_2)

absence_pred

array([[0.89824726],
       [0.40739635],
       [0.51158707],
       ...,
       [0.22765705],
       [0.24028801],
       [0.50241875]])

In [44]:
absence_pred_2 = randomforest.predict(new_df_2)

absence_pred_2

array([0.79425409, 0.57917711, 0.50402998, ..., 0.43257913, 0.78539762,
       0.60151934])

In [45]:
absence_pred = pd.DataFrame(absence_pred, columns = ["absence_prediction_lr_2025"], index = new_df_2.index)
absence_pred['absence_prediction_lr_2025'] = round(absence_pred['absence_prediction_lr_2025'],0)
new_df_2 = pd.concat([new_df_2, absence_pred], axis = 1)
new_df_2['absence_prediction_lr_2025'] = np.where(new_df_2['absence_prediction_lr_2025']!=0,round(np.exp(new_df_2['absence_prediction_lr_2025']),0),0)

new_df_2['absence_prediction_lr_2025'].value_counts()

absence_prediction_lr_2025
3.0      4007
0.0      1879
7.0      1188
20.0      320
55.0       98
148.0      17
Name: count, dtype: int64

In [46]:
absence_pred_2 = pd.DataFrame(absence_pred_2, columns = ["absence_prediction_rf_2025"], index = new_df_2.index)
absence_pred_2['absence_prediction_rf_2025'] = round(absence_pred_2['absence_prediction_rf_2025'],0)
new_df_2 = pd.concat([new_df_2, absence_pred_2], axis = 1)
new_df_2['absence_prediction_rf_2025'] = np.where(new_df_2['absence_prediction_rf_2025']!=0,round(np.exp(new_df_2['absence_prediction_rf_2025']),0),0)

new_df_2['absence_prediction_rf_2025'].value_counts()

absence_prediction_rf_2025
3.0     4681
0.0     1503
7.0      877
20.0     392
55.0      56
Name: count, dtype: int64

In [47]:
new_df = new_df.merge(new_df_2, left_index=True, right_index=True,
                 how='outer', suffixes=('', '_y'))

new_df.drop(new_df.filter(regex='_y$').columns, axis=1, inplace=True)

new_df

,person_id,absence_indicator,extreme_heat_2018,extreme_heat_2019,extreme_heat_2020,ADI,Age,Gender,lsbio_cholesterol,lsbio_glucose,...,cc_ckd,concurrent_risk,rx_nonClaimant,rx_nonCompliant,extreme_heat_ssp245_2025,extreme_heat_ssp245_2035,extreme_heat_ssp245_2045,extreme_heat,absence_prediction_lr_2025,absence_prediction_rf_2025
0,1001121909,20,0.000000,2.000000,0.000000,57,30,1,0,0,...,0,0.51,1,0,16.212120,20.000000,23.181818,1.0,3.0,3.0
1,1002228813,0,5.000000,3.000000,4.000000,21,40,1,0,0,...,0,0.15,1,0,6.160173,8.441559,10.510822,4.0,0.0,3.0
2,1006210000,0,2.000000,3.000000,0.000000,59,61,1,0,0,...,0,1.14,1,0,12.333333,15.402597,18.134200,2.0,3.0,3.0
3,1006971219,61,5.000000,3.000000,1.000000,28,40,1,1,0,...,0,0.15,1,0,7.549784,10.246754,12.675324,3.0,0.0,3.0
4,1008562408,0,2.666667,2.666667,2.666667,22,35,1,0,0,...,0,0.38,1,0,7.134199,9.770563,12.025974,3.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7504,9995667595,0,0.000000,1.000000,0.000000,18,39,1,1,0,...,0,0.15,1,0,2.623377,4.121212,5.774892,0.0,0.0,3.0
7505,9998210676,131,2.000000,2.000000,0.000000,34,58,1,0,0,...,0,0.33,0,0,6.393940,8.874459,11.077922,1.0,3.0,0.0
7506,9998342544,0,0.000000,0.000000,0.000000,14,51,1,0,0,...,0,0.35,1,0,7.424243,10.112555,12.354979,0.0,0.0,0.0
7507,9998937334,0,4.000000,3.000000,1.000000,10,40,1,1,0,...,0,0.46,1,0,6.160173,8.441559,10.510822,3.0,0.0,3.0
7508,9999617900,37,5.000000,4.000000,2.000000,39,32,1,0,0,...,0,0.10,1,0,10.415585,13.307360,15.878788,4.0,3.0,3.0

## 2035

### cc_mskChronic

In [48]:
new_df_0 = new_df.loc[new_df['cc_mskChronic'] == 0]
new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2035']
x = pd.DataFrame(new_df_0[['Age', 'Gender', 'cc_behavioralAllOther', 'cc_ckd', 'concurrent_risk', 
                        'rx_nonClaimant', 'extreme_heat']])

x

/var/folders/xn/gnfdk6ks6733jfbyy3y35xyc0000gn/T/ipykernel_5425/3424818972.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2035']

,Age,Gender,cc_behavioralAllOther,cc_ckd,concurrent_risk,rx_nonClaimant,extreme_heat
0,30,1,0,0,0.51,1,20.000000
1,40,1,0,0,0.15,1,8.441559
2,61,1,0,0,1.14,1,15.402597
3,40,1,0,0,0.15,1,10.246754
4,35,1,0,0,0.38,1,9.770563
...,...,...,...,...,...,...,...
7504,39,1,0,0,0.15,1,4.121212
7505,58,1,0,0,0.33,0,8.874459
7506,51,1,0,0,0.35,1,10.112555
7507,40,1,0,0,0.46,1,8.441559
7508,32,1,0,0,0.10,1,13.307360

In [49]:
y_pred = mskChronic_logreg.predict(x)
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [50]:
y_pred = pd.DataFrame(y_pred, columns = ["PredTotal"], index = new_df_0.index)
new_df_0 = pd.concat([new_df_0, y_pred], axis = 1)

new_df_0['PredTotal'].value_counts()

PredTotal
0    5256
1      23
Name: count, dtype: int64

In [51]:
new_df_0 = new_df_0[['person_id', 'PredTotal']]

new_df_0

       person_id  PredTotal
0     1001121909          0
1     1002228813          0
2     1006210000          0
3     1006971219          0
4     1008562408          0
...          ...        ...
7504  9995667595          0
7505  9998210676          0
7506  9998342544          0
7507  9998937334          0
7508  9999617900          0

[5279 rows x 2 columns]

In [52]:
new_df = new_df.merge(new_df_0, left_index=True, right_index=True,
                 how='outer', suffixes=('', '_y'))

new_df.drop(new_df.filter(regex='_y$').columns, axis=1, inplace=True)

print(new_df['cc_mskChronic'].value_counts())

new_df['cc_mskChronic'] = np.where(new_df['cc_mskChronic']==0, new_df['PredTotal'], 1)
new_df.drop(columns=['PredTotal'], axis=1, inplace=True)

print(new_df['cc_mskChronic'].value_counts())

cc_mskChronic
0.0    5279
1.0    2230
Name: count, dtype: int64
cc_mskChronic
0.0    5256
1.0    2253
Name: count, dtype: int64

### cc_cardiac

In [53]:
new_df_0 = new_df.loc[new_df['cc_cardiac'] == 0]
new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2035']
x = pd.DataFrame(new_df_0[['ADI', 'Age', 'Gender', 'lsbio_cholesterol', 'lsbio_bp', 'lsbio_weight', 
                         'cc_cancer', 'cc_cholesterol', 'cc_obesity', 'cc_mskAllOther', 'cc_behavioralAllOther', 
                         'cc_ckd', 'concurrent_risk', 'rx_nonClaimant', 'extreme_heat']])

x

/var/folders/xn/gnfdk6ks6733jfbyy3y35xyc0000gn/T/ipykernel_5425/2667934971.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2035']

,ADI,Age,Gender,lsbio_cholesterol,lsbio_bp,lsbio_weight,cc_cancer,cc_cholesterol,cc_obesity,cc_mskAllOther,cc_behavioralAllOther,cc_ckd,concurrent_risk,rx_nonClaimant,extreme_heat
0,57,30,1,0,0,0,0,0,0,0,0,0,0.51,1,20.000000
1,21,40,1,0,0,0,0,0,0,0,0,0,0.15,1,8.441559
2,59,61,1,0,0,0,0,1,0,0,0,0,1.14,1,15.402597
3,28,40,1,1,1,1,0,0,0,0,0,0,0.15,1,10.246754
4,22,35,1,0,1,0,0,0,0,0,0,0,0.38,1,9.770563
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7503,39,44,1,0,1,1,0,0,0,1,0,0,0.15,1,10.627706
7504,18,39,1,1,1,1,0,0,1,0,0,0,0.15,1,4.121212
7506,14,51,1,0,0,0,0,0,0,0,0,0,0.35,1,10.112555
7507,10,40,1,1,1,0,0,0,0,0,0,0,0.46,1,8.441559
7508,39,32,1,0,1,1,0,0,0,0,0,0,0.10,1,13.307360

In [54]:
y_pred = cardiac_logreg.predict(x)
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [55]:
y_pred = pd.DataFrame(y_pred, columns = ["PredTotal"], index = new_df_0.index)
new_df_0 = pd.concat([new_df_0, y_pred], axis = 1)

new_df_0['PredTotal'].value_counts()

PredTotal
0    5348
1      53
Name: count, dtype: int64

In [56]:
new_df_0 = new_df_0[['person_id', 'PredTotal']]

new_df_0

       person_id  PredTotal
0     1001121909          0
1     1002228813          0
2     1006210000          0
3     1006971219          0
4     1008562408          0
...          ...        ...
7503  9995527821          0
7504  9995667595          0
7506  9998342544          0
7507  9998937334          0
7508  9999617900          0

[5401 rows x 2 columns]

In [57]:
new_df = new_df.merge(new_df_0, left_index=True, right_index=True,
                 how='outer', suffixes=('', '_y'))

new_df.drop(new_df.filter(regex='_y$').columns, axis=1, inplace=True)

print(new_df['cc_cardiac'].value_counts())

new_df['cc_cardiac'] = np.where(new_df['cc_cardiac']==0, new_df['PredTotal'], 1)
new_df.drop(columns=['PredTotal'], axis=1, inplace=True)

print(new_df['cc_cardiac'].value_counts())

cc_cardiac
0.0    5401
1.0    2108
Name: count, dtype: int64
cc_cardiac
0.0    5348
1.0    2161
Name: count, dtype: int64

### cc_diabetes

In [58]:
new_df_0 = new_df.loc[new_df['cc_diabetes'] == 0]
new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2035']
x = pd.DataFrame(new_df_0[['ADI', 'Age', 'lsbio_glucose', 'lsbio_trig', 'lshrq_genHealth', 'cc_cholesterol', 
                         'cc_obesity', 'cc_mskAllOther', 'concurrent_risk', 'rx_nonClaimant', 'rx_nonCompliant', 
                         'extreme_heat']])

x

/var/folders/xn/gnfdk6ks6733jfbyy3y35xyc0000gn/T/ipykernel_5425/163749074.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2035']

,ADI,Age,lsbio_glucose,lsbio_trig,lshrq_genHealth,cc_cholesterol,cc_obesity,cc_mskAllOther,concurrent_risk,rx_nonClaimant,rx_nonCompliant,extreme_heat
0,57,30,0,0,0,0,0,0,0.51,1,0,20.000000
1,21,40,0,0,0,0,0,0,0.15,1,0,8.441559
2,59,61,0,0,0,1,0,0,1.14,1,0,15.402597
3,28,40,0,1,0,0,0,0,0.15,1,0,10.246754
4,22,35,0,0,0,0,0,0,0.38,1,0,9.770563
...,...,...,...,...,...,...,...,...,...,...,...,...
7504,18,39,0,1,0,0,1,0,0.15,1,0,4.121212
7505,34,58,0,0,0,0,1,1,0.33,0,0,8.874459
7506,14,51,0,0,0,0,0,0,0.35,1,0,10.112555
7507,10,40,0,0,0,0,0,0,0.46,1,0,8.441559
7508,39,32,0,0,0,0,0,0,0.10,1,0,13.307360

In [59]:
y_pred = diabetes_logreg.predict(x)
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [60]:
y_pred = pd.DataFrame(y_pred, columns = ["PredTotal"], index = new_df_0.index)
new_df_0 = pd.concat([new_df_0, y_pred], axis = 1)

new_df_0['PredTotal'].value_counts()

PredTotal
0    6579
1     156
Name: count, dtype: int64

In [61]:
new_df_0 = new_df_0[['person_id', 'PredTotal']]

new_df_0

       person_id  PredTotal
0     1001121909          0
1     1002228813          0
2     1006210000          0
3     1006971219          0
4     1008562408          0
...          ...        ...
7504  9995667595          0
7505  9998210676          0
7506  9998342544          0
7507  9998937334          0
7508  9999617900          0

[6735 rows x 2 columns]

In [62]:
new_df = new_df.merge(new_df_0, left_index=True, right_index=True,
                 how='outer', suffixes=('', '_y'))

new_df.drop(new_df.filter(regex='_y$').columns, axis=1, inplace=True)

print(new_df['cc_diabetes'].value_counts())

new_df['cc_diabetes'] = np.where(new_df['cc_diabetes']==0, new_df['PredTotal'], 1)
new_df.drop(columns=['PredTotal'], axis=1, inplace=True)

print(new_df['cc_diabetes'].value_counts())

cc_diabetes
0.0    6735
1.0     774
Name: count, dtype: int64
cc_diabetes
0.0    6579
1.0     930
Name: count, dtype: int64

### absence_indicator prediction 2035

In [63]:
new_df_2 = new_df[all_factors]

new_df_2

,ADI,Age,Gender,lsbio_cholesterol,lsbio_glucose,lsbio_bp,lsbio_weight,lsbio_trig,lshrq_physact,lshrq_tobacco,...,cc_cholesterol,cc_cardiac,cc_depression,cc_obesity,cc_mskAllOther,cc_behavioralAllOther,cc_ckd,concurrent_risk,rx_nonClaimant,rx_nonCompliant
0,57,30,1,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0.51,1,0
1,21,40,1,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0.15,1,0
2,59,61,1,0,0,0,0,0,0,0,...,1,0.0,0,0,0,0,0,1.14,1,0
3,28,40,1,1,0,1,1,1,0,0,...,0,0.0,0,0,0,0,0,0.15,1,0
4,22,35,1,0,0,1,0,0,1,0,...,0,0.0,0,0,0,0,0,0.38,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7504,18,39,1,1,0,1,1,1,0,0,...,0,0.0,0,1,0,0,0,0.15,1,0
7505,34,58,1,0,0,0,0,0,0,0,...,0,1.0,0,1,1,0,0,0.33,0,0
7506,14,51,1,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0.35,1,0
7507,10,40,1,1,0,1,0,0,1,0,...,0,0.0,0,0,0,0,0,0.46,1,0
7508,39,32,1,0,0,1,1,0,1,0,...,0,0.0,0,0,0,0,0,0.10,1,0

In [64]:
absence_pred = linreg.predict(new_df_2)

absence_pred

array([[0.89824726],
       [0.40739635],
       [0.51158707],
       ...,
       [0.22765705],
       [0.24028801],
       [0.50241875]])

In [65]:
absence_pred_2 = randomforest.predict(new_df_2)

absence_pred_2

array([0.79425409, 0.57917711, 0.50402998, ..., 0.43257913, 0.78539762,
       0.60151934])

In [66]:
absence_pred = pd.DataFrame(absence_pred, columns = ["absence_prediction_lr_2035"], index = new_df_2.index)
absence_pred['absence_prediction_lr_2035'] = round(absence_pred['absence_prediction_lr_2035'],0)
new_df_2 = pd.concat([new_df_2, absence_pred], axis = 1)
new_df_2['absence_prediction_lr_2035'] = np.where(new_df_2['absence_prediction_lr_2035']!=0,round(np.exp(new_df_2['absence_prediction_lr_2035']),0),0)

new_df_2['absence_prediction_lr_2035'].value_counts()

absence_prediction_lr_2035
3.0      3999
0.0      1868
7.0      1200
20.0      326
55.0       99
148.0      17
Name: count, dtype: int64

In [67]:
absence_pred_2 = pd.DataFrame(absence_pred_2, columns = ["absence_prediction_rf_2035"], index = new_df_2.index)
absence_pred_2['absence_prediction_rf_2035'] = round(absence_pred_2['absence_prediction_rf_2035'],0)
new_df_2 = pd.concat([new_df_2, absence_pred_2], axis = 1)
new_df_2['absence_prediction_rf_2035'] = np.where(new_df_2['absence_prediction_rf_2035']!=0,round(np.exp(new_df_2['absence_prediction_rf_2035']),0),0)

new_df_2['absence_prediction_rf_2035'].value_counts()

absence_prediction_rf_2035
3.0     4669
0.0     1498
7.0      890
20.0     396
55.0      56
Name: count, dtype: int64

In [68]:
new_df = new_df.merge(new_df_2, left_index=True, right_index=True,
                 how='outer', suffixes=('', '_y'))

new_df.drop(new_df.filter(regex='_y$').columns, axis=1, inplace=True)

new_df

,person_id,absence_indicator,extreme_heat_2018,extreme_heat_2019,extreme_heat_2020,ADI,Age,Gender,lsbio_cholesterol,lsbio_glucose,...,rx_nonClaimant,rx_nonCompliant,extreme_heat_ssp245_2025,extreme_heat_ssp245_2035,extreme_heat_ssp245_2045,extreme_heat,absence_prediction_lr_2025,absence_prediction_rf_2025,absence_prediction_lr_2035,absence_prediction_rf_2035
0,1001121909,20,0.000000,2.000000,0.000000,57,30,1,0,0,...,1,0,16.212120,20.000000,23.181818,1.0,3.0,3.0,3.0,3.0
1,1002228813,0,5.000000,3.000000,4.000000,21,40,1,0,0,...,1,0,6.160173,8.441559,10.510822,4.0,0.0,3.0,0.0,3.0
2,1006210000,0,2.000000,3.000000,0.000000,59,61,1,0,0,...,1,0,12.333333,15.402597,18.134200,2.0,3.0,3.0,3.0,3.0
3,1006971219,61,5.000000,3.000000,1.000000,28,40,1,1,0,...,1,0,7.549784,10.246754,12.675324,3.0,0.0,3.0,0.0,3.0
4,1008562408,0,2.666667,2.666667,2.666667,22,35,1,0,0,...,1,0,7.134199,9.770563,12.025974,3.0,3.0,3.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7504,9995667595,0,0.000000,1.000000,0.000000,18,39,1,1,0,...,1,0,2.623377,4.121212,5.774892,0.0,0.0,3.0,0.0,3.0
7505,9998210676,131,2.000000,2.000000,0.000000,34,58,1,0,0,...,0,0,6.393940,8.874459,11.077922,1.0,3.0,0.0,3.0,0.0
7506,9998342544,0,0.000000,0.000000,0.000000,14,51,1,0,0,...,1,0,7.424243,10.112555,12.354979,0.0,0.0,0.0,0.0,0.0
7507,9998937334,0,4.000000,3.000000,1.000000,10,40,1,1,0,...,1,0,6.160173,8.441559,10.510822,3.0,0.0,3.0,0.0,3.0
7508,9999617900,37,5.000000,4.000000,2.000000,39,32,1,0,0,...,1,0,10.415585,13.307360,15.878788,4.0,3.0,3.0,3.0,3.0

## 2045

### cc_mskChronic

In [69]:
new_df_0 = new_df.loc[new_df['cc_mskChronic'] == 0]
new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2045']
x = pd.DataFrame(new_df_0[['Age', 'Gender', 'cc_behavioralAllOther', 'cc_ckd', 'concurrent_risk', 
                        'rx_nonClaimant', 'extreme_heat']])

x

/var/folders/xn/gnfdk6ks6733jfbyy3y35xyc0000gn/T/ipykernel_5425/1617774183.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2045']

,Age,Gender,cc_behavioralAllOther,cc_ckd,concurrent_risk,rx_nonClaimant,extreme_heat
0,30,1,0,0,0.51,1,23.181818
1,40,1,0,0,0.15,1,10.510822
2,61,1,0,0,1.14,1,18.134200
3,40,1,0,0,0.15,1,12.675324
4,35,1,0,0,0.38,1,12.025974
...,...,...,...,...,...,...,...
7504,39,1,0,0,0.15,1,5.774892
7505,58,1,0,0,0.33,0,11.077922
7506,51,1,0,0,0.35,1,12.354979
7507,40,1,0,0,0.46,1,10.510822
7508,32,1,0,0,0.10,1,15.878788

In [70]:
y_pred = mskChronic_logreg.predict(x)
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [71]:
y_pred = pd.DataFrame(y_pred, columns = ["PredTotal"], index = new_df_0.index)
new_df_0 = pd.concat([new_df_0, y_pred], axis = 1)

new_df_0['PredTotal'].value_counts()

PredTotal
0    5241
1      15
Name: count, dtype: int64

In [72]:
new_df_0 = new_df_0[['person_id', 'PredTotal']]

new_df_0

       person_id  PredTotal
0     1001121909          0
1     1002228813          0
2     1006210000          0
3     1006971219          0
4     1008562408          0
...          ...        ...
7504  9995667595          0
7505  9998210676          0
7506  9998342544          0
7507  9998937334          0
7508  9999617900          0

[5256 rows x 2 columns]

In [73]:
new_df = new_df.merge(new_df_0, left_index=True, right_index=True,
                 how='outer', suffixes=('', '_y'))

new_df.drop(new_df.filter(regex='_y$').columns, axis=1, inplace=True)

print(new_df['cc_mskChronic'].value_counts())

new_df['cc_mskChronic'] = np.where(new_df['cc_mskChronic']==0, new_df['PredTotal'], 1)
new_df.drop(columns=['PredTotal'], axis=1, inplace=True)

print(new_df['cc_mskChronic'].value_counts())

cc_mskChronic
0.0    5256
1.0    2253
Name: count, dtype: int64
cc_mskChronic
0.0    5241
1.0    2268
Name: count, dtype: int64

### cc_cardiac

In [74]:
new_df_0 = new_df.loc[new_df['cc_cardiac'] == 0]
new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2045']
x = pd.DataFrame(new_df_0[['ADI', 'Age', 'Gender', 'lsbio_cholesterol', 'lsbio_bp', 'lsbio_weight', 
                         'cc_cancer', 'cc_cholesterol', 'cc_obesity', 'cc_mskAllOther', 'cc_behavioralAllOther', 
                         'cc_ckd', 'concurrent_risk', 'rx_nonClaimant', 'extreme_heat']])

x

/var/folders/xn/gnfdk6ks6733jfbyy3y35xyc0000gn/T/ipykernel_5425/1341605198.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2045']

,ADI,Age,Gender,lsbio_cholesterol,lsbio_bp,lsbio_weight,cc_cancer,cc_cholesterol,cc_obesity,cc_mskAllOther,cc_behavioralAllOther,cc_ckd,concurrent_risk,rx_nonClaimant,extreme_heat
0,57,30,1,0,0,0,0,0,0,0,0,0,0.51,1,23.181818
1,21,40,1,0,0,0,0,0,0,0,0,0,0.15,1,10.510822
2,59,61,1,0,0,0,0,1,0,0,0,0,1.14,1,18.134200
3,28,40,1,1,1,1,0,0,0,0,0,0,0.15,1,12.675324
4,22,35,1,0,1,0,0,0,0,0,0,0,0.38,1,12.025974
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7503,39,44,1,0,1,1,0,0,0,1,0,0,0.15,1,13.164502
7504,18,39,1,1,1,1,0,0,1,0,0,0,0.15,1,5.774892
7506,14,51,1,0,0,0,0,0,0,0,0,0,0.35,1,12.354979
7507,10,40,1,1,1,0,0,0,0,0,0,0,0.46,1,10.510822
7508,39,32,1,0,1,1,0,0,0,0,0,0,0.10,1,15.878788

In [75]:
y_pred = cardiac_logreg.predict(x)
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [76]:
y_pred = pd.DataFrame(y_pred, columns = ["PredTotal"], index = new_df_0.index)
new_df_0 = pd.concat([new_df_0, y_pred], axis = 1)

new_df_0['PredTotal'].value_counts()

PredTotal
0    5298
1      50
Name: count, dtype: int64

In [77]:
new_df_0 = new_df_0[['person_id', 'PredTotal']]

new_df_0

       person_id  PredTotal
0     1001121909          0
1     1002228813          0
2     1006210000          0
3     1006971219          0
4     1008562408          0
...          ...        ...
7503  9995527821          0
7504  9995667595          0
7506  9998342544          0
7507  9998937334          0
7508  9999617900          0

[5348 rows x 2 columns]

In [78]:
new_df = new_df.merge(new_df_0, left_index=True, right_index=True,
                 how='outer', suffixes=('', '_y'))

new_df.drop(new_df.filter(regex='_y$').columns, axis=1, inplace=True)

print(new_df['cc_cardiac'].value_counts())

new_df['cc_cardiac'] = np.where(new_df['cc_cardiac']==0, new_df['PredTotal'], 1)
new_df.drop(columns=['PredTotal'], axis=1, inplace=True)

print(new_df['cc_cardiac'].value_counts())

cc_cardiac
0.0    5348
1.0    2161
Name: count, dtype: int64
cc_cardiac
0.0    5298
1.0    2211
Name: count, dtype: int64

### cc_diabetes

In [80]:
new_df_0 = new_df.loc[new_df['cc_diabetes'] == 0]
new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2045']
x = pd.DataFrame(new_df_0[['ADI', 'Age', 'lsbio_glucose', 'lsbio_trig', 'lshrq_genHealth', 'cc_cholesterol', 
                         'cc_obesity', 'cc_mskAllOther', 'concurrent_risk', 'rx_nonClaimant', 'rx_nonCompliant', 
                         'extreme_heat']])

x

/var/folders/xn/gnfdk6ks6733jfbyy3y35xyc0000gn/T/ipykernel_5425/2108863532.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_0['extreme_heat'] = new_df_0['extreme_heat_ssp245_2045']

,ADI,Age,lsbio_glucose,lsbio_trig,lshrq_genHealth,cc_cholesterol,cc_obesity,cc_mskAllOther,concurrent_risk,rx_nonClaimant,rx_nonCompliant,extreme_heat
0,57,30,0,0,0,0,0,0,0.51,1,0,23.181818
1,21,40,0,0,0,0,0,0,0.15,1,0,10.510822
2,59,61,0,0,0,1,0,0,1.14,1,0,18.134200
3,28,40,0,1,0,0,0,0,0.15,1,0,12.675324
4,22,35,0,0,0,0,0,0,0.38,1,0,12.025974
...,...,...,...,...,...,...,...,...,...,...,...,...
7504,18,39,0,1,0,0,1,0,0.15,1,0,5.774892
7505,34,58,0,0,0,0,1,1,0.33,0,0,11.077922
7506,14,51,0,0,0,0,0,0,0.35,1,0,12.354979
7507,10,40,0,0,0,0,0,0,0.46,1,0,10.510822
7508,39,32,0,0,0,0,0,0,0.10,1,0,15.878788

In [81]:
y_pred = diabetes_logreg.predict(x)
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [82]:
y_pred = pd.DataFrame(y_pred, columns = ["PredTotal"], index = new_df_0.index)
new_df_0 = pd.concat([new_df_0, y_pred], axis = 1)

new_df_0['PredTotal'].value_counts()

PredTotal
0    6458
1     121
Name: count, dtype: int64

In [83]:
new_df_0 = new_df_0[['person_id', 'PredTotal']]

new_df_0

       person_id  PredTotal
0     1001121909          0
1     1002228813          0
2     1006210000          0
3     1006971219          0
4     1008562408          0
...          ...        ...
7504  9995667595          0
7505  9998210676          0
7506  9998342544          0
7507  9998937334          0
7508  9999617900          0

[6579 rows x 2 columns]

In [84]:
new_df = new_df.merge(new_df_0, left_index=True, right_index=True,
                 how='outer', suffixes=('', '_y'))

new_df.drop(new_df.filter(regex='_y$').columns, axis=1, inplace=True)

print(new_df['cc_diabetes'].value_counts())

new_df['cc_diabetes'] = np.where(new_df['cc_diabetes']==0, new_df['PredTotal'], 1)
new_df.drop(columns=['PredTotal'], axis=1, inplace=True)

print(new_df['cc_diabetes'].value_counts())

cc_diabetes
0.0    6579
1.0     930
Name: count, dtype: int64
cc_diabetes
0.0    6458
1.0    1051
Name: count, dtype: int64

### absence_indicator prediction 2045

In [85]:
new_df_2 = new_df[all_factors]

new_df_2

,ADI,Age,Gender,lsbio_cholesterol,lsbio_glucose,lsbio_bp,lsbio_weight,lsbio_trig,lshrq_physact,lshrq_tobacco,...,cc_cholesterol,cc_cardiac,cc_depression,cc_obesity,cc_mskAllOther,cc_behavioralAllOther,cc_ckd,concurrent_risk,rx_nonClaimant,rx_nonCompliant
0,57,30,1,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0.51,1,0
1,21,40,1,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0.15,1,0
2,59,61,1,0,0,0,0,0,0,0,...,1,0.0,0,0,0,0,0,1.14,1,0
3,28,40,1,1,0,1,1,1,0,0,...,0,0.0,0,0,0,0,0,0.15,1,0
4,22,35,1,0,0,1,0,0,1,0,...,0,0.0,0,0,0,0,0,0.38,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7504,18,39,1,1,0,1,1,1,0,0,...,0,0.0,0,1,0,0,0,0.15,1,0
7505,34,58,1,0,0,0,0,0,0,0,...,0,1.0,0,1,1,0,0,0.33,0,0
7506,14,51,1,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0.35,1,0
7507,10,40,1,1,0,1,0,0,1,0,...,0,0.0,0,0,0,0,0,0.46,1,0
7508,39,32,1,0,0,1,1,0,1,0,...,0,0.0,0,0,0,0,0,0.10,1,0

In [86]:
absence_pred = linreg.predict(new_df_2)

absence_pred

array([[0.89824726],
       [0.40739635],
       [0.51158707],
       ...,
       [0.22765705],
       [0.24028801],
       [0.50241875]])

In [87]:
absence_pred_2 = randomforest.predict(new_df_2)

absence_pred_2

array([0.79425409, 0.57917711, 0.50402998, ..., 0.43257913, 0.78539762,
       0.60151934])

In [88]:
absence_pred = pd.DataFrame(absence_pred, columns = ["absence_prediction_lr_2045"], index = new_df_2.index)
absence_pred['absence_prediction_lr_2045'] = round(absence_pred['absence_prediction_lr_2045'],0)
new_df_2 = pd.concat([new_df_2, absence_pred], axis = 1)
new_df_2['absence_prediction_lr_2045'] = np.where(new_df_2['absence_prediction_lr_2045']!=0,round(np.exp(new_df_2['absence_prediction_lr_2045']),0),0)

new_df_2['absence_prediction_lr_2045'].value_counts()

absence_prediction_lr_2045
3.0      3989
0.0      1861
7.0      1201
20.0      340
55.0      101
148.0      17
Name: count, dtype: int64

In [89]:
absence_pred_2 = pd.DataFrame(absence_pred_2, columns = ["absence_prediction_rf_2045"], index = new_df_2.index)
absence_pred_2['absence_prediction_rf_2045'] = round(absence_pred_2['absence_prediction_rf_2045'],0)
new_df_2 = pd.concat([new_df_2, absence_pred_2], axis = 1)
new_df_2['absence_prediction_rf_2045'] = np.where(new_df_2['absence_prediction_rf_2045']!=0,round(np.exp(new_df_2['absence_prediction_rf_2045']),0),0)

new_df_2['absence_prediction_rf_2045'].value_counts()

absence_prediction_rf_2045
3.0     4665
0.0     1496
7.0      895
20.0     396
55.0      57
Name: count, dtype: int64

In [90]:
new_df = new_df.merge(new_df_2, left_index=True, right_index=True,
                 how='outer', suffixes=('', '_y'))

new_df.drop(new_df.filter(regex='_y$').columns, axis=1, inplace=True)

new_df

,person_id,absence_indicator,extreme_heat_2018,extreme_heat_2019,extreme_heat_2020,ADI,Age,Gender,lsbio_cholesterol,lsbio_glucose,...,extreme_heat_ssp245_2025,extreme_heat_ssp245_2035,extreme_heat_ssp245_2045,extreme_heat,absence_prediction_lr_2025,absence_prediction_rf_2025,absence_prediction_lr_2035,absence_prediction_rf_2035,absence_prediction_lr_2045,absence_prediction_rf_2045
0,1001121909,20,0.000000,2.000000,0.000000,57,30,1,0,0,...,16.212120,20.000000,23.181818,1.0,3.0,3.0,3.0,3.0,3.0,3.0
1,1002228813,0,5.000000,3.000000,4.000000,21,40,1,0,0,...,6.160173,8.441559,10.510822,4.0,0.0,3.0,0.0,3.0,0.0,3.0
2,1006210000,0,2.000000,3.000000,0.000000,59,61,1,0,0,...,12.333333,15.402597,18.134200,2.0,3.0,3.0,3.0,3.0,3.0,3.0
3,1006971219,61,5.000000,3.000000,1.000000,28,40,1,1,0,...,7.549784,10.246754,12.675324,3.0,0.0,3.0,0.0,3.0,0.0,3.0
4,1008562408,0,2.666667,2.666667,2.666667,22,35,1,0,0,...,7.134199,9.770563,12.025974,3.0,3.0,3.0,3.0,3.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7504,9995667595,0,0.000000,1.000000,0.000000,18,39,1,1,0,...,2.623377,4.121212,5.774892,0.0,0.0,3.0,0.0,3.0,0.0,3.0
7505,9998210676,131,2.000000,2.000000,0.000000,34,58,1,0,0,...,6.393940,8.874459,11.077922,1.0,3.0,0.0,3.0,0.0,3.0,0.0
7506,9998342544,0,0.000000,0.000000,0.000000,14,51,1,0,0,...,7.424243,10.112555,12.354979,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7507,9998937334,0,4.000000,3.000000,1.000000,10,40,1,1,0,...,6.160173,8.441559,10.510822,3.0,0.0,3.0,0.0,3.0,0.0,3.0
7508,9999617900,37,5.000000,4.000000,2.000000,39,32,1,0,0,...,10.415585,13.307360,15.878788,4.0,3.0,3.0,3.0,3.0,3.0,3.0

In [93]:
print("Original:")
print(new_df['absence_indicator'].value_counts())
print("2025 (lr):")
print(new_df['absence_prediction_lr_2025'].value_counts())
print("2035 (lr):")
print(new_df['absence_prediction_lr_2035'].value_counts())
print("2045 (lr):")
print(new_df['absence_prediction_lr_2045'].value_counts())
print("2025 (rf):")
print(new_df['absence_prediction_rf_2025'].value_counts())
print("2035 (rf):")
print(new_df['absence_prediction_rf_2035'].value_counts())
print("2045 (rf):")
print(new_df['absence_prediction_rf_2045'].value_counts())

Original:
absence_indicator
0      4882
1       381
6       121
11      110
21       73
       ...
212       1
241       1
263       1
243       1
235       1
Name: count, Length: 217, dtype: int64
2025 (lr):
absence_prediction_lr_2025
3.0      4007
0.0      1879
7.0      1188
20.0      320
55.0       98
148.0      17
Name: count, dtype: int64
2035 (lr):
absence_prediction_lr_2035
3.0      3999
0.0      1868
7.0      1200
20.0      326
55.0       99
148.0      17
Name: count, dtype: int64
2045 (lr):
absence_prediction_lr_2045
3.0      3989
0.0      1861
7.0      1201
20.0      340
55.0      101
148.0      17
Name: count, dtype: int64
2025 (rf):
absence_prediction_rf_2025
3.0     4681
0.0     1503
7.0      877
20.0     392
55.0      56
Name: count, dtype: int64
2035 (rf):
absence_prediction_rf_2035
3.0     4669
0.0     1498
7.0      890
20.0     396
55.0      56
Name: count, dtype: int64
2045 (rf):
absence_prediction_rf_2045
3.0     4665
0.0     1496
7.0      895
20.0     396
55.0      57
Name: count, dtype: int64

In [ ]:
new_df.to_csv('')